# Virtualenv
venv/
.env/
.venv/

# Python cache
__pycache__/
*.py[cod]

# pytest cache
.pytest_cache/

# Packaging
build/
dist/
*.egg-info/

# Coverage reports
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

